<button
    mat-icon-button
    [matMenuTriggerFor]="menu"
    aria-label="Button that opens the language selector"
    class="absolute top-2 right-2"
    [matTooltip]="'language.selector' | translate"
>
    <img
        [src]="'./assets/flags/' + selected + '.svg'"
        alt="flag"
        class="w-8 h-8"
    />
</button>

<mat-menu #menu="matMenu">
    <button
        mat-menu-item
        [ariaLabel]="
            'Button that changes the language to' + (lg.label | translate)
        "
        *ngFor="let lg of languages"
        (click)="onLanguageChange(lg)"
    >
        <div class="flex flex-row gap-2 items-center justify-start">
            <img
                [src]="'./assets/flags/' + lg.code + '.svg'"
                alt="flag"
                class="w-6 h-6"
            />
            <span>{{ lg.label | translate }}</span>
        </div>
    </button>
</mat-menu>
