@keyframes circletimer {
    0% {
        stroke-dashoffset: 500;
        stroke-dasharray: 500;
    }
    100% {
        stroke-dashoffset: 0;
        stroke-dasharray: 500;
    }
}

svg {
    background-color: transparent;
    position: absolute;
    background-color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateZ(-90deg);
    .circle {
        stroke: rgba(188, 0, 84, 1);
        stroke-width: 8;
        fill: transparent;
        stroke-dashoffset: 500;
        stroke-dasharray: 0;
    }
}

.medium {
    animation: 120s circletimer linear;
}

.fast {
    animation: 60s circletimer linear;
}

.slow {
    animation: 180s circletimer linear;
}

.timer {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(188, 0, 84, 1);
    font-size: 42px;
    font-weight: 700;
}
