<ax-language-selector></ax-language-selector>

<div
    class="flex flex-col bg-primary-100 justify-start items-center min-h-screen"
>
    <h1 class="text-8xl text-center font-bold py-4 text-primary-600">
        The Calculator Game
    </h1>
    <div class="flex flex-col h-full gap-2">
        <div class="flex flex-col gap-1 relative">
            <label class="text-2xl text-primary-600" for="name" id="nick-label">
                {{ "username.label" | translate }}
            </label>
            <input
                class="min-w-96 h-12 px-3 rounded-lg border-2 border-gray-200 outline-none focus:border-secondary-400"
                type="text"
                name="nick"
                [formControl]="nickControl"
                [placeholder]="'username.write' | translate"
            />
            <button
                [matTooltip]="'random_name.label' | translate"
                class="absolute top-[47px] right-2 rounded-full p-2"
                (click)="generateRandomName()"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1em"
                    height="1em"
                    viewBox="0 0 32 32"
                >
                    <path
                        fill="currentColor"
                        d="M23 3v4h-4.594l-.281.5l-3.625 6.469L10.594 7H4v2h5.406l3.938 7l-3.938 7H4v2h6.594l9-16H23v4l5-5zm-6.219 15l-1.156 2.063L18.406 25H23v4l5-5l-5-5v4h-3.406z"
                    />
                </svg>
            </button>
        </div>

        <div class="flex flex-row pb-4 flex-1 gap-2">
            <button
                [matTooltip]="
                    nickControl.invalid ? ('username.validate' | translate) : ''
                "
                matRipple
                [disabled]="nickControl.invalid"
                class="text-center text-primary-900 text-2xl bg-secondary-400 rounded-lg px-4 py-2 flex-1"
                [ngClass]="{
                    'bg-opacity-50 cursor-not-allowed': nickControl.invalid,
                }"
            >
                <a
                    class="block w-full h-full"
                    [ngClass]="{
                        'bg-opacity-50 cursor-not-allowed': nickControl.invalid,
                    }"
                    [routerLink]="nickControl.invalid ? '' : ['/game']"
                    >{{ "start.label" | translate }}</a
                >
            </button>

            <button
                [matTooltip]="'settings.label' | translate"
                (click)="openDialogToViewSettings()"
                matRipple
                class="text-center text-2xl bg-slate-700 rounded-lg px-4 py-2 text-slate-100"
            >
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    width="1em"
                    height="1em"
                    viewBox="0 0 24 24"
                >
                    <path
                        fill="currentColor"
                        d="m9.25 22l-.4-3.2q-.325-.125-.612-.3t-.563-.375L4.7 19.375l-2.75-4.75l2.575-1.95Q4.5 12.5 4.5 12.338v-.675q0-.163.025-.338L1.95 9.375l2.75-4.75l2.975 1.25q.275-.2.575-.375t.6-.3l.4-3.2h5.5l.4 3.2q.325.125.613.3t.562.375l2.975-1.25l2.75 4.75l-2.575 1.95q.025.175.025.338v.674q0 .163-.05.338l2.575 1.95l-2.75 4.75l-2.95-1.25q-.275.2-.575.375t-.6.3l-.4 3.2zm2.8-6.5q1.45 0 2.475-1.025T15.55 12q0-1.45-1.025-2.475T12.05 8.5q-1.475 0-2.488 1.025T8.55 12q0 1.45 1.013 2.475T12.05 15.5"
                    />
                </svg>
            </button>
        </div>
    </div>
</div>
