<div
    class="flex flex-col bg-primary-900 justify-start items-center min-h-screen"
>
    <h1 class="text-8xl text-center font-bold py-4 text-secondary-900">
        The Calculator Game
    </h1>
    <div class="flex flex-col h-full gap-2">
        <div class="flex flex-col gap-1">
            <label class="text-2xl text-slate-200" for="name" id="nick-label">
                {{ "username.label" | translate }}
            </label>
            <input
                class="min-w-96 h-12 px-3 rounded-lg border-2 border-gray-200 outline-none focus:border-secondary-500"
                type="text"
                name="nick"
                [placeholder]="'username.write' | translate"
            />
        </div>

        <div class="flex flex-col pb-4 flex-1 gap-4">
            <a
                [tooltip]="'username.write' | translate"
                class="text-center text-white text-2xl bg-secondary-600 rounded-lg px-4 py-2"
            >
                <a class="block w-full h-full" [routerLink]="['/game']">{{
                    "start.label" | translate
                }}</a>
            </a>
        </div>
    </div>
</div>
