/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Salsa"; /* Puedes darle el nombre que desees */
    src: url("assets/fonts/Salsa-Regular.ttf") format("truetype"); /* Ruta relativa o absoluta a tu fuente TTF */
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: "Salsa", sans-serif; /* Usa la fuente en el cuerpo del documento */
}

.ax-dialog .mat-dialog-container {
    background-color: #fff;
}

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

button:disabled {
    cursor: not-allowed !important;
}
